/* @font-face {
  font-family: 'font-family: Helvetica, Arial, san-serif;';

} */

body {
	'font-family: Helvetica, Arial, san-serif;'
  position: center;
  background-color: black;
	color: ivory;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

/*
.grid {
  position: absolute;
  left:  100vw;
  top:  100vw;
  display: grid;
  color: red;
  font-family: Helvetica, Arial, san-serif;
  font-size: 4.5vw;
  font-weight: bold;
  line-height: 1em;
  grid-template-columns: 1em 1em 1em 1em 1em 1em 1em 1em 1em;
}

.gridItem {
  overflow: hidden:
  height: 1em;
  transition: height 1s linear;
}

.en {
  color: black;
}

.po {
  color: red;
}
*/

.none {
  display: none;
}

.trans {
  color:transparent;
}
